<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.smhrd.database.MatchMapper">

   <insert id="makeMatch" parameterType="Match">
      INSERT INTO MATCH VALUES(MATCH_INDEX.nextval,#{mm}, #{m_date},#{user_index},#{start_time},#{finish_time},
      #{people_num},#{f_level},#{writing}, #{place})
   </insert>

   <insert id="makeYb" parameterType="Match">
      INSERT INTO MATCH VALUES(MATCH_INDEX.nextval,#{mm}, #{m_date},#{user_index},#{start_time},#{finish_time},
      #{people_num},#{f_level},#{writing}, null)
   </insert>
   
   <select id="allMatchDate" resultType="Match" >
      SELECT * FROM MATCH WHERE m_date in #{date}
   </select>
   
   <update id="updateMatch" parameterType="Match">
      UPDATE MATCH set MM = #{mm} where M_INDEX = #{m_index}
   </update>
   
   <insert id="sendMatching" parameterType="Matching">
   INSERT INTO MATCHING VALUES (M_INDEX.NEXTVAL, 
   #{writer},#{challenger},#{m_index},'X')
   </insert>   

   <select id="allMatching" resultType="Matching">
   SELECT * FROM MATCHING
   </select>
   
   <select id="receiveMatching" resultType="Matching" parameterType="String">
   SELECT * FROM MATCHING WHERE WRITER = #{id} AND MATCHING = 'X'
   </select>
   
   <update id="succeedMatching" parameterType="Matching">
   UPDATE MATCHING set MATCHING = 'O' WHERE M_INDEX = #{m_index}  AND CHALLENGER =#{challenger} AND WRITER=#{writer} 
   </update>
   
   <delete id="delAllMatching">
   DELETE from MATCHING WHERE M_INDEX = #{m_index} AND MATCHING = 'X'
   </delete>
   
   <delete id="delMatch">
   DELETE from MATCHING WHERE M_INDEX = #{m_index}
   </delete>
   
   <delete id="delMatching" parameterType="Matching">
   DELETE from MATCHING WHERE M_INDEX = #{m_index}  AND CHALLENGER =#{challenger} AND WRITER=#{writer}
   </delete>
   
   <select id="feedback_w" resultType="Matching" parameterType="String">
   SELECT * FROM MATCHING WHERE WRITER = #{id} AND MATCHING = 'O'
   </select>
   
   <select id="feedback_c" resultType="Matching" parameterType="String">
   SELECT * FROM MATCHING WHERE CHALLENGER = #{id} AND MATCHING = 'O'
   </select> 
</mapper>