<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.smhrd.database.MemberMapper">

	<update id="Check" parameterType="Member">
		UPDATE USER_INFO SET ID = #{id} WHERE ID = #{id}
	</update>

   <insert id="Join" parameterType="Member">
   		INSERT INTO USER_INFO (id,nick,pic) VALUES (#{id},#{nick},#{pic})
   </insert>
   
   
   <select id="Login" resultType="Member" parameterType="String">
   		SELECT * FROM USER_INFO WHERE id=#{id}
   </select>
   
   <update id="updateMember" parameterType="Member">
       UPDATE USER_INFO SET NICK=#{nick}, INTRO=#{intro}, PIC=#{pic} WHERE ID=#{id} 
   </update>
   
</mapper>